# Byte-compiled / optimized / DLL files
# Python:
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info
dist
build

*.log
logs/
musics
musics-bak/
*.lrc
*.mp3
*.local
*.remote
*.tar.gz
conf/log.ini
*.db

# mac
.DS_Store
